.clear {
  clear:both;
}
#page_size{
  font-size:12px;
  width:50px;
  padding:0;
  margin:0;
}

#memory_size{
  font-size:12px;
  width:50px;
  padding:0;
  margin:0;
}

.table-container{
  margin-top:20px;
  padding-top:20px;
  padding-left:80px; 
  width:100%;
  margin:0px auto;
}

.slide-button{
  margin-top:20px;
}

.paging {
  margin-right:100px;
  float:left;
}

.paging tbody td {
  text-align:center;
}

.physical-memory{
  width:150px;
}

.page-table{
  width:100px;
}

.logical-memory{
  width:150px;
}

#settings-container {
  padding-left:80px; 
  padding-top:10px; 
}

.slider-container {
  margin:0;
  padding:0;
  margin-top:10px;
}

.logical_counter {
  background-color:#fff !important;
}

.hidden {
  display:none;
}

.phys_counter {
  background-color:#fff !important;
/*  width:20px;*/
}

.info-table {
  display:none;
}